*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 800px;
    width: 100%;
    background-color: #FFCBCB ;
    
}

.name{
    height: 60px;
    width: 100%;
    background-color:white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #FFCBCB;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img{
    height: 400px;
    width: 250px;
    background-image: url("homibhabha.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 660px;
    margin-top: 20px;
    border-radius: 30px;
    border: 2px solid #F7F9F2;
    box-shadow: 2px 0 0 2px;
    
    
}
.since{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 730px;
    margin-top: 20px;
    border-radius: 30px;
    border: 2px solid #F7F9F2;
    box-shadow: 2px 0 0 2px;
    width: 122px;

}

.para-1{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5em;
    margin-top: 20px;
    margin-left: 10px;
    letter-spacing: 2px;
    color:#102C57 ;

}